[Unit]
Description=sys-kernel.service
 
[Service]
User=root
ExecStart=/bin/cpuhp --config /etc/libkernel
Type=idle
 
[Install]
WantedBy=default.target
